table {
	border-collapse: collapse; 
	padding:4px 4px 4px 4px;
	text-align:left;
}

td {
    padding:0.5em;
}

th { 
	text-align: left;
	padding:0.5em;
	background-color:#FFFF33;
}

tr.alt td {
	color:#000000;
	background-color:#FFFF99;
}

body{
	font-family:Arial, Helvetica, Sans-Serif;
	font-size:0.8em;
	color: #4D4D4D;
}

.maintabdiv {
   display:block;
   overflow:hidden;
   width:100%;
   float:left;
}

.container {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
}

.searchbar {
   display:block;
   overflow:hidden;
   float:left;
   padding: auto;
}

a {color: #4D4D4D;}